<ion-item>

  <!-- Look at http://ionicframework.com/docs/v2/components/#sliding-list  -->
  <ion-avatar item-left *ngIf="hang.isOwnedBy(me)">
    <ion-icon style="color: darkgreen" name="thumbs-up"></ion-icon>
  </ion-avatar>
  
  <ion-avatar item-left *ngIf="!hang.isOwnedBy(me)">
    <ion-icon *ngIf="hang.isAcceptedBy(me)" style="color: darkgreen" name="thumbs-up" (tap)="toggleStatus()"></ion-icon>
    <ion-icon *ngIf="hang.isDeclinedBy(me)" style="color: darkgray" name="thumbs-down" (tap)="toggleStatus()"></ion-icon>
    <ion-icon *ngIf="!hang.isAcceptedBy(me) && !hang.isDeclinedBy(me)" style="color: darkgray" name="question" (tap)="toggleStatus()">??</ion-icon>
  </ion-avatar>

  <div item-right>
    <ion-icon *ngIf="hang.approved" style="color: darkgreen" name="checkmark-circle"></ion-icon>
    <ion-icon *ngIf="!hang.approved" style="color: darkgray" name="close-circle"></ion-icon>
  </div>

  <div style="z-index: 1000;" (tap)="showHang()" >
    <h3>
      <span class="with">what</span> {{ hang.description }}
    </h3>
    <h3>
      <span class="with">where</span> {{ hang.location }}
    </h3>
    <h3>
      <span class="with">when</span> {{ formattedStartDate }}
    </h3>

    <h3 *ngIf="hang.creator == me">
      Created by {{ hang.creator.getShortName() }}
    </h3>

    <h3>
      <span class="with">with</span> {{ formattedParticipants }}
    </h3>

  </div>

</ion-item>
