hang-view-mini {
  ion-icon {
    font-size: 40px;
    padding-left: 0;
  }

  .item-inner {
    border-bottom: none;
  }

  .item {
    border-bottom: 1px solid #dedede;
  }

  .with {
    color: darkgrey;
  }

}