<ion-item>

  <!-- Look at http://ionicframework.com/docs/v2/components/#sliding-list  -->
  <ion-avatar item-left>
    <ion-icon *ngIf="hang.accepted" style="color: darkgreen" name="thumbs-up" (click)="toggleAccepted()"></ion-icon>
    <ion-icon *ngIf="!hang.accepted" style="color: darkgray" name="thumbs-down" (click)="toggleAccepted()"></ion-icon>
  </ion-avatar>

  <div item-right>
    <ion-icon *ngIf="hang.approved" style="color: darkgreen" name="checkmark-circle"></ion-icon>
    <ion-icon *ngIf="!hang.approved" style="color: darkgray" name="close-circle"></ion-icon>
  </div>

  <div (click)="showHang()">
    <h3>{{ formattedStartDate }}</h3>

    <h3>
      Created by {{ hang.creator.getShortName() }}
    </h3>

    <h3>
      <span class="with">with</span> {{ formattedParticipants }}
    </h3>

    <p>{{ hang.description }}</p>
  </div>

</ion-item>
