<ion-item>

  <!-- Look at http://ionicframework.com/docs/v2/components/#sliding-list  -->
  <ion-avatar item-left>
    <ion-icon *ngIf="hang.accepted" style="color: darkgreen" name="thumbs-up" (tap)="toggleAccepted()"></ion-icon>
    <ion-icon *ngIf="hang.declined" style="color: darkgray" name="thumbs-down" (tap)="toggleAccepted()"></ion-icon>
    <ion-icon *ngIf="!hang.accepted && !hang.declined" style="color: darkgray" name="question" (tap)="toggleAccepted()">????</ion-icon>
  </ion-avatar>

  <div item-right>
    <ion-icon *ngIf="hang.approved" style="color: darkgreen" name="checkmark-circle"></ion-icon>
    <ion-icon *ngIf="!hang.approved" style="color: darkgray" name="close-circle"></ion-icon>
  </div>

  <div style="z-index: 1000;" (tap)="showHang()" >
    <h3>
      <span class="with">what</span> {{ hang.description }}
    </h3>
    <h3>
      <span class="with">where</span> {{ hang.location }}
    </h3>
    <h3>
      <span class="with">when</span> {{ formattedStartDate }}
    </h3>

    <h3 *ngIf="hang.creator == me">
      Created by {{ hang.creator.getShortName() }}
    </h3>

    <h3>
      <span class="with">with</span> {{ formattedParticipants }}
    </h3>

  </div>

</ion-item>
