<ion-navbar *navbar primary>
  <ion-title text-center>Deets</ion-title>
</ion-navbar>

<ion-content class="hang-view-page">

  <h3>{{ hang.description }}</h3>
  <p>{{ hang.location }}</p>
  <p>Created by {{ hang.creator.getShortName() }}</p>
  <p>Start: {{ hang.startDate }}</p>
  <p>End: {{ hang.endDate }}</p>

  <h3>Who's coming?</h3>
  <div *ngFor="let participant of hang.participants">
    {{ participant.getShortName() }}
    <span *ngIf="participant.isAttending">
      is coming!
    </span>
    <span *ngIf="!participant.isAttending">
      is not coming!
    </span>
  </div>


  <div style="padding-top: 20px">
    <ion-list>

      <ion-list-header> Chat </ion-list-header>

      <ion-item>
        Mary: I can't wait!
      </ion-item>

      <ion-item>
        Bob: Let's do this
      </ion-item>

    </ion-list>

  </div>
</ion-content>
