<ion-navbar *navbar primary>
  <ion-title text-center>Deets</ion-title>
</ion-navbar>

<ion-content class="hang-view-page">


  <div class="date-wrapper" style="text-align: center;">
    <div>April</div>
    <span style="">25</span>
    <ion-icon name="calendar-outline"></ion-icon>
    <div>3pm - 7pm</div>
  </div>

  <h3>
    <span class="with">what</span> {{ hang.description }}
  </h3>
  <h3>
    <span class="with">where</span> {{ hang.location }}
  </h3>
  <h3>
    <span class="with">when</span> {{ formattedStartDate }}
  </h3>

  <h3>
    Created by {{ hang.creator.getShortName() }}
  </h3>

  <p>Start: {{ hang.startDate }}</p>
  <p>Length: {{ diff }} hour(s)</p>

  <h3>Who's coming?</h3>
  <div *ngFor="let status of hang.statuses">
    {{ status.person.getShortName() }}
    <span *ngIf="status.accepted">
      is coming!
    </span>
    <span *ngIf="status.declined">
      is not coming!
    </span>
  </div>


  <div style="padding-top: 20px">
    <ion-list>

      <ion-list-header> Chat </ion-list-header>

      <ion-item>
        Mary: I can't wait!
      </ion-item>

      <ion-item>
        Bob: Let's do this
      </ion-item>

    </ion-list>

  </div>
</ion-content>
