.hang-view-page {

  ion-input {
    input {
      -webkit-backdrop-filter: none !important; /* why do i need this?? */
    }
  }

  .date-wrapper {
    text-align: center;
    ion-icon {
      font-size: 5em;
      color: royalblue;
    }

    span {
      position: absolute;
      font-family: monospace;
      font-size: 4em;
      top: .9em;
    }

    div {
      text-align: center;
      font-size: 1.5em;
    }

  }

}
