<ion-navbar *navbar primary>
  <ion-title text-center>New Hang</ion-title>
</ion-navbar>

<ion-content class="create-hang-page">
  <ion-list inset>

    <ion-item>
      <h2>Who's coming?</h2>
      <div>
        <div>
          <ion-icon primary (click)="pickContact()" style="font-size: 40px;" name="person-add"></ion-icon>
          <span *ngFor="#contact of whoArray">

            <ion-avatar *ngIf="contact.photoUrl" style="display: inline">
              <img style="height: 40px; display: inline" [src]="contact.photoUrl">
            </ion-avatar>
            <span *ngIf="!contact.photoUrl" style="font-size: 40px;">
              {{ contact.getInitials() }}
            </span>
          </span>
        </div>

      </div>
    </ion-item>

    <ion-item>
      <ion-label>WHAT</ion-label>
      <ion-input type="text" [(ngModel)]="description"></ion-input>
    </ion-item>

    <date-grabber [thedate]="myDate"
                  (onDateChanged)="dateWasChanged($event)"
    ></date-grabber>

    <ion-item>
      <ion-label>HOW LONG</ion-label>
      <ion-select [(ngModel)]="duration">
        <ion-option value="30">30 minutes</ion-option>
        <ion-option value="60">1 hour</ion-option>
        <ion-option value="120">2 hours</ion-option>
        <ion-option value="180">3 hours</ion-option>
        <ion-option value="240">4 hours</ion-option>
        <ion-option value="300">5 hours</ion-option>
        <ion-option value="360">7 hours</ion-option>
        <ion-option value="420">7 hours</ion-option>
        <ion-option value="480">8 hours</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>WHERE</ion-label>
      <ion-input type="text" [(ngModel)]="location"></ion-input>
    </ion-item>

  </ion-list>

    <button block (click)="save()">
      <ion-icon name="send"></ion-icon>
      Send Invites
    </button>

</ion-content>
