<ion-item>

  <ion-avatar item-right>
    <ion-icon primary *ngIf="hang.approved" style="color: darkgreen" name="checkmark-circle"></ion-icon>
    <ion-icon primary *ngIf="!hang.approved" name="help-circle"></ion-icon>
  </ion-avatar>
  <ion-avatar item-left>
    <ion-icon primary *ngIf="hang.accepted" style="color: darkgreen" name="checkmark-circle"></ion-icon>
    <ion-icon primary *ngIf="!hang.accepted" name="help-circle"></ion-icon>
  </ion-avatar>

  <h3>{{ formattedStartDate }}</h3>

  <h3>
    <span class="with">with</span> {{ formattedParticipants }}
  </h3>

  <p>{{ hang.description }}</p>
</ion-item>
