<ion-toolbar primary>

  <ion-title>
    My Hangs
  </ion-title>

  <ion-buttons end>
    <button (tap)="openCreateModal()">
      <ion-icon name="add-circle"></ion-icon>
    </button>
  </ion-buttons>

</ion-toolbar>

<ion-content class="hang-list-page">

  <ion-list>
    <ion-list-header class="upcoming" *ngIf="upcomingHangs.length > 0">
      Upcoming
    </ion-list-header>

    <div *ngFor="let hang of upcomingHangs">
      <hang-view-mini [hang]="hang"></hang-view-mini>
    </div>

    <div class="no-upcoming" *ngIf=" upcomingHangs.length === 0 ">
      You don't have any upcoming Hangs!
      <br />
      Maybe create a new one ?
    </div>


    <ion-list-header class="incoming" *ngIf="incomingHangs.length > 0">
      Incoming
    </ion-list-header>

    <div *ngFor="let hang of incomingHangs">
      <hang-view-mini [hang]="hang"></hang-view-mini>
    </div>

  </ion-list>

</ion-content>

