<ion-toolbar primary>

  <ion-title>
    My Hangs
  </ion-title>

  <ion-buttons end>
    <button (tap)="openCreateModal()">
      <ion-icon name="add-circle"></ion-icon>
    </button>
  </ion-buttons>

</ion-toolbar>

<ion-content class="hang-list-page">

  <div *ngIf="isLoading" style="text-align: center; padding-bottom: 5px">
    <div class="sk-folding-cube">
      <div class="sk-cube1 sk-cube"></div>
      <div class="sk-cube2 sk-cube"></div>
      <div class="sk-cube4 sk-cube"></div>
      <div class="sk-cube3 sk-cube"></div>
    </div>
    Loading...
  </div>

  <div *ngIf="!isLoading">
    <ion-list>
      <ion-list-header class="upcoming">
        Upcoming
      </ion-list-header>

      <div *ngFor="#hang of upcomingHangs">
        <hang-view-mini [hang]="hang"></hang-view-mini>
      </div>

      <div *ngIf="upcomingHangs.length === 0" class="no-upcoming">
        You don't have any upcoming Hangs!
        <br />
        Maybe create a new one ?
      </div>


      <div *ngIf="incomingHangs.length > 0">
        <ion-list-header class="incoming">
          Incoming
        </ion-list-header>

        <div *ngFor="#hang of incomingHangs">
          <hang-view-mini [hang]="hang"></hang-view-mini>
        </div>
      </div>
    </ion-list>
  </div>

</ion-content>

