.hang-list-page {

  ion-list-header {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
  }

  .upcoming {
    background-color: lightblue;
  }

  .incoming {
    background-color: lightblue;
  }

  .no-upcoming {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
  }
}
